@using ProjektZespolowyGr3.Models.DbModels
@model Listing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Listing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photos)
        </dt>
        <dd class = "col-sm-10">
            <p>Photos count: @Model.Photos?.Count()</p>
            @foreach (var photo in Model.Photos)
            {
                <img src="@photo.Upload.Url" alt="Photo" style="max-width:200px; max-height:200px;" />

                <br />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class = "col-sm-10">
            <p>Tags count: @Model.Tags?.Count()</p>
            @foreach (var tag in Model.Tags)
            {
                @tag.Tag.Name <br />
            }
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFeatured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFeatured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    @if (!Model.IsSold && Model.Type == ListingType.Sale)
    {
        <form asp-controller="Payment" asp-action="Buy" method="post">
            <input type="hidden" name="listingId" value="@Model.Id" />
            <button type="submit" class="btn btn-primary">
                Kup teraz
            </button>
        </form>
    }
    else if (Model.IsSold)
    {
        <span class="text-danger">Sprzedane</span>
    }
    <a asp-controller="Tickets" asp-action="ReportListing" asp-route-listingId="@Model.Id" class="btn btn-danger">Report Listing</a>

    <h4>Reviews</h4>
    <hr />
    <a asp-controller="Reviews" asp-action="Create" asp-route-listingId="@Model.Id" class="btn btn-primary mb-3">Add Review</a>

    @if (Model.Reviews != null && Model.Reviews.Any())
    {
        <hr />
        
        @foreach (var review in Model.Reviews)
        {
            <h5>@review.Reviewer.Username • @review.Rating</h5>
            <p>@review.Description</p>

            @if (review.Photos != null && review.Photos.Any())
            {
                <div style="display: flex; gap: 10px; margin-bottom: 10px;">
                    @foreach (var photo in review.Photos)
                    {
                        <img src="@photo.Upload.Url" alt="Review Photo" style="max-width:100px; max-height:100px;" />
                    }
                </div>
            }

            <small>@review.CreatedAt</small>

            <hr />
        }
    }
    else
    {
        <p>no reviews yet</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
